main{
    .main-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 15px 45px;
        gap: 5pxz;
        h1{margin: 0;}
        p{font-size: 16px; font-weight: 300;}
        

    }
    .main-fonctionnement{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background-color: white;
        margin-bottom: 40px;
        .fonctionnement-text{
            font-weight: 700;
        }
        .fonctionnement-buttons{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-left: 10px;
            margin-bottom: 50px;
            a{
                display: flex;
                flex-direction: row;
                gap: 20px;
                position: relative;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                background-color: $background;
                padding: 25px;
                color:black;
                border-radius: 20px;
                text-decoration: none;
                &:hover i{
                    color:$primary;
                }
                .num{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    background: #9356DC;
                    color:white;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        @media screen and (min-width: 1200px) {
            padding: 50px 180px;
            .fonctionnement-buttons{
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 30px;
                a{
                    width: 100%;
                }
            }
        }
    }
    #main-restaurants{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        margin-bottom: 46px;
        a{
            text-decoration: none;
            color: black;
        }
        #restaurant-cards-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
        .restaurant-card{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
            position: relative;
            .new{
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: rgba(153, 226, 208, 1);
                color: rgba(0, 135, 102, 1);
                border-radius: 2px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                padding: 5px 10px;
            }
            img{
                aspect-ratio: 16/7;
                object-fit: cover;

            }
            .card-lower{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                background-color: white;
                justify-content: space-between;
                padding: 15px 30px 15px 20px;
                box-sizing: border-box;
                position: relative;
                h3{margin:0;}
                p{margin: 0;font-size: 17px;font-weight: 300;}
                
                .card-text{
                    flex-direction: column;
                }
            }
        }
        }
        @media screen and (min-width: 768px) {
            padding: 20px ;
            #restaurant-cards-list{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                row-gap: 50px;
                column-gap: 100px;
            }
        }
        @media screen and (min-width: 1200px) {
            padding: 50px 180px;
        }
    }
}