.btn{
    all: unset;
    font-family: Roboto;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    padding: 13px 18px;
    color:white;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}