
//UTILS IMPORT
@import "../utils/variables.scss";

//PAGES IMPORT
@import "../pages/index.scss";
@import "../pages/restaurant.scss";

//COMPONENTS IMPORT
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/buttons.scss";
@import "../components/loader.scss";

*{font-family: roboto;}
img{max-width: 100%;}
body{
    margin:0;
    background:$background;
}
